---
# It extends the default conf by adjusting some options.
extends: default

rules:
  brackets:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  comments:
    require-starting-space: false
  empty-lines:
    max: 1
    max-start: 0
    max-end: 1
  line-length: disable
